---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Inventory from '../components/Inventory.astro';
import WhyUs from '../components/WhyUs.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Autos Bas Dealer Miami | Luxury & Premium Car Sales">
	<Navbar />
	<main>
		<Hero />
		<Inventory />
		<WhyUs />
	</main>
	<Footer />
</Layout>
